@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:wght@500&display=swap');


html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.5);
}




body {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: white;
}


.btn {
    text-align: center;
    font-size: 20px;
    margin: 40px;
    padding: 20px 30px;
    text-decoration: none;
    color: #181818;
    background-color: white;
    border-radius: 10px;
    transition: .1s linear;
    margin: 0 auto;

    bottom: 30px;

    margin-top: 50px;
}

/* Quote card
================================ */

.inner__quote {
    color: #181818;
    display: flex;
    flex-direction: column;
    max-width: 305px;
    max-height: 15%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 15%;

    resize: both;
    overflow: auto;
}

.quote {
    font-style: italic;
}

.author {
    padding-top: 50px;
}